<style>
    .sidebar-box {
        display: block; /* Mengatur elemen menjadi block */
        padding: 50px; /* Jarak dalam elemen */
        margin: 100px 0; /* Jarak antar elemen */
        border-radius: 10px; /* Sudut membulat */
        text-align: center; /* Teks rata tengah */
        font-weight: bold; /* Teks tebal */
        cursor: pointer; /* Menunjukkan elemen bisa diklik */
        background-color: #f0f0f0; /* Warna latar belakang */
        border: 1px solid #ccc; /* Border dengan warna abu-abu */
        width: 100%; /* Lebar penuh */
    }
    .sidebar-box:hover {
        background-color: #e0e0e0; /* Warna latar belakang saat hover */
        border-color: #bbb; /* Warna border saat hover */
    }
    </style>
